<h1>Reset Password</h1>

<p>Please enter your secret answer for the given question below and then press "Reset Password".</p>

<% form_tag password_resets_path(@user) do %>
            <%= hidden_field_tag :email, params[:email] %>
   <div class="formItem w25 pt15 pr15">
            <label for="question">Secret Question</label>
            <p class="mgt10 pl10"><b><%=h @user.secret_question.question %></b></p>
          </div>
          <div class="formItem w25 pt15 pr15">
            <label for="school">Answer</label>
            <%= text_field_tag :secret_answer, "", :class=> "big w100" %>
          </div>
<%= submit_tag "Reset Password" %>
<% end %>