<tr>
                <td><input type="checkbox" name="checkbox" id="checkbox" /></td>
                <td width="36%" align="left"><%=h user.name %></td>
                <td width="23%" align="left">Available</td>
                <td width="35%" align="left">Skill</td>
                <td width="35%" align="left">Level</td>
                <td width="35%" align="left">City</td>
                <td width="35%" align="left">State</td>
                <td width="35%" align="left">Country</td>
                <td width="35%" align="left">Position</td>
                <td width="35%" align="left">Pref.Rate</td>
              </tr>