<!--CONTENT STARTS-->
    <div class="content">
      <!--BREADDRUMBS STARTS-->
      <div id="breadcrumbs"> <a href="index.html">Home </a> /<a href="search_main.html"> Search / Contractor</a></div>
      <!--BREADDRUMBS ENDS-->
      <!--FORM CONTAINER STARTS-->
      <div class="formContainer">
        <% form_tag sent_mail_search_contractors_url do %>
          <div class="pagedivider ">
            <fieldset>
            <div class="headingBg">
              <div class="fl  pt10">
                <h2>Search Contractor</h2>
              </div>
              <div class="clear"></div>
            </div>
            <table width="100%" border="1" cellspacing="0" cellpadding="0">
              <tr class="head">
                <td colspan="8" align="Left">Contractors Available</td>
                <td colspan="2" align="center"><%= link_to "Search Criteria", edit_search_contractor_url(@search_contractor) %></td>
              </tr>
              <tr class="head">
                <td width="6%" align="left">&nbsp;</td>
                <td width="36%" align="left"><strong>Name</strong></td>
                <td width="23%" align="left"><strong>Available</strong></td>
                <td width="35%" align="left"><strong>Skill</strong></td>
                <td width="35%" align="left"><strong>Level</strong></td>
                <td width="35%" align="left"><strong>City</strong></td>
                <td width="35%" align="left"><strong>State</strong></td>
                <td width="35%" align="left"><strong>Country</strong></td>
                <td width="35%" align="left"><strong>Position</strong></td>
                <td width="35%" align="left"><strong>Pref.Rate</strong></td>
              </tr>
              <tbody>
                <% unless @search_contractor.contracts.blank? %>
                 <%= render :partial => @search_contractor.contracts %>
                <% else %>
                <tr>
                  No Contracts Found!
                </tr>
                <% end %>
              </tbody>
                            
            </table>
            </fieldset>
          </div>
    
        <div class="buttonMainWrapper pt25 pr25 pl25 pb25">
          <div class="buttonCancel">
            <%= link_to "Cancel", search_contracts_url, :class => "buttonSubmit"  %>
          </div>
          <div class="buttonWrapper">
            <%= submit_tag 'Contact&nbsp;Contractor', :class => "button" %>
          </div>
        </div>
        <% end %>
      </div>
    </div>